@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: theme('colors.scrollbar-track');
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.scrollbar-thumb');
    border-radius: 100vh;
    border: 1px solid theme('colors.scrollbar-track');
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme('colors.scrollbar-thumb');
  }
}

/* Custom Scrollbar Styles
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color:  #92400e transparent;
  
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #92400e;
  border-radius: 10px;
  border: transparent;
} */


